<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Batalha Naval - CaféGamer</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="tela-arcade">
      <div class="tela">
        <iframe
          src="jogo.html"
          frameborder="0"
          width="100%"
          height="100%"
        ></iframe>
      </div>
      <div class="controles">
        <a href="/" class="joystick" target="_top">RESETAR</a>
        <div class="botoes">
          <div class="botao"></div>
          <div class="botao"></div>
        </div>
      </div>
    </div>
  </body>
</html>
