<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Invaders</title>
    <link rel="stylesheet" href="./css/SpaceInvaders.css">
    <link rel="shortcut icon " type="image/x-icon" href="./img/favicon.ico">
</head>
<body>
    
    <div id="cenario">
        <div id="menu">
            <div id="vida">Vida: 100</div>
            <div id="tempoRecarga"></div>
        
            <div id="pontos">Pontos: 0</div>
        </div>
        <div id="nave"></div>
        <button type="button" id="iniciar" onclick="iniciarJogo()">Iniciar Jogo</button>
        
    </div>
    <script src="./js/SpaceInvaders.js" defer></script>
</body>
</html>