<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pacman</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', path='css/Pac-Man/Pac-Man.css') }}">
    </head>

    <body>
        <canvas id="canvas"></canvas>

        <div style="display:none;">
            <img id="animations" src="{{ url_for('static', path='img/Pac-Man/animations.gif') }}" alt="">
            <img id="ghosts" src="{{ url_for('static', path='img/Pac-Man/ghost.png') }}" alt="">
        </div>

        <button id="backMenu">Voltar para o menu</button>

        <script src="{{ url_for('static', path='js/Pac-Man/ghost.js') }}"></script>
        <script src="{{ url_for('static', path='js/Pac-Man/pacman.js') }}"></script>
        <script src="{{ url_for('static', path='js/Pac-Man/game.js') }}"></script>

        <script>
            document.getElementById("backMenu").addEventListener("click", function() {
                window.location.href = "PacMan/menu";
            });

            // Função para redimensionar o canvas
            function resizeCanvas() {
                const canvas = document.getElementById("canvas");
                const aspectRatio = 1; // Proporção do mapa (quadrado)
                const scaleFactor = 0.9; // Percentual de preenchimento da tela

                // Defina a largura e altura com base no tamanho da janela do navegador
                const windowWidth = window.innerWidth;
                const windowHeight = window.innerHeight;

                if (windowWidth / windowHeight > aspectRatio) {
                    // Ajusta pela altura se a tela for mais larga
                    canvas.height = windowHeight * scaleFactor;
                    canvas.width = canvas.height * aspectRatio;
                } else {
                    // Ajusta pela largura se a tela for mais alta
                    canvas.width = windowWidth * scaleFactor;
                    canvas.height = canvas.width / aspectRatio;
                }

                // Adiciona um ajuste ao contexto 2D para alinhar o conteúdo com o canvas redimensionado
                canvasContext.scale(canvas.width / 500, canvas.height / 500);
            }

            // Redimensiona o canvas ao carregar e ao redimensionar a janela
            window.addEventListener("resize", resizeCanvas);
            window.addEventListener("load", resizeCanvas);
        </script>
    </body>
</html>
