
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.intro-text {
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
    color: #fff;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 80px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #3a0069;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 20px;
    text-align: center;
    font-size: 1.5em;
    z-index: 10;
    transition: top 0.3s;
}

.hidden {
    top: -60px;
}

.team-section {
    margin-top: 180px;
    gap: 2px;
    display: flex;
    align-content: space-between;
}

.member {
    width: 300px;
    margin: 10px 0;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #1c1c1c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;
}

.member:hover {
    transform: scale(1.05);
}

.member img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #555;

}

.member h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #8a2be2;
    text-transform: uppercase;
    font-weight: bold;
}

.member ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    color: #ccc;
    text-align: left;
}

.member ul li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

.member ul li::before {
    content: '•';
    color: #8a2be2;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
}

.xp-bar {
    width: 100%;
    height: 15px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.xp-fill {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.level {
    font-size: 1.3em;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .navbar {
        font-size: 1.2em;
        padding: 10px 15px;
    }
    .member {
        width: 80%;
        padding: 15px;
    }
}