@import url('/static/css/macros/input.css');
@import url('/static/css/macros/h1.css');


body {
    margin: 0;
    padding: 0;
    background-color: #2E0854; 
    /* font-family: Arial, sans-serif; */
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/img/cadastro/fundocadastro.gif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.cadastro-box {
    width: 90%;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #3a0069;
    text-align: center;
}

.cadastro-box > h2, input[type="file"] {
    color : #e6e6e6;
}

/* input[type="text"], input[type="password"], input[type="date"] {
    width: calc(100% - 50px);
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #2E0854;
    font-size: 0.9rem;
} */

button {
    width: calc(100% - 50px);
    padding: 8px;
    background-color: #fff;
    color: #2E0854;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}


label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}