<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styleJogo.css">
	<title>Snake Game</title>

</head>

<body>
	<div class="search-box">
		<input type="text" class="search-input" placeholder="Pesquisar jogos...">
	</div>

	<a href="/Home">
		<button id="replay">
			<i class="fas fa-play"></i>HOME
		</button>
	</a>
	<br>

	<div class="container noselect">

		<div id="ui">
			<h2>Pontuação</h2>
			<span id="score">00</span>
		</div>

		<div class="wrapper">
			<div id="canvas">
			</div>
		</div>

		<button id="replay">
			<i class="fas fa-play"></i>REINICIAR
		</button>
	</div>

	<br>

	<footer>
		<div class="gameFooter"><span>Jogo 1</span></div>
		<div class="gameFooter"><span>Jogo 2</span></div>
	</footer>

</body>
<script src="./script.js"></script>

</html>