<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reclame Aqui</title>
    <link rel="stylesheet" href="/static/css/reclame.css">
</head>
<body>
    <div class="container">
        <h1>Reclame Aqui</h1>
        <form action="/post_reclame" method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value={{request.cookies.get("nome")}} required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value={{request.cookies.get("email")}} required>

            <label for="motivo">Motivo da Reclamação:</label>
            <select id="motivo" name="motivo" required>
                <option value=""></option>
                <option value="travamento">Site Travando</option>
                <option value="atualização">Ausência de Atualizações</option>
                <option value="outro">Outro</option>
            </select>

            <label for="sugestao">Explique o problema</label>
            <textarea id="sugestao" name="sugestao" rows="8"></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>