<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhe Conosco</title>
    <link rel="stylesheet" href="/static/css/reclame.css">
</head>
<body>
    <div class="container">
        <h1>Trabalhe Conosco</h1>
        <form action="/post_trabalheconosco" method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

           

            <!-- <label for="curriculo">Mande o seu currículo (PNG ou JPG)</label> -->
            
            <!-- <hr>
            <input type="file" id="imagem" name="imagem" value="{{ imagem }}" accept="image/*" placeholder=" ">
            <hr> -->

            <label for="curriculo">Descreva sua habilidades</label>
            <textarea id="curriculo" name="curriculo" rows="8"></textarea>


            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>