<button class="menu-btn" id="menu-btn">
  <i class="bi bi-list"></i>
</button>

<nav id="menu-principal" class="arcade-menu">
  <ul>
    <li>
      <a href="/usuario/reclame" class="neon-text"
        >Problemas?</a
      >
    </li>
    <li>
      <a href="/usuario/sugestoes" class="neon-text">Sugestões</a>
    </li>
    <li>
      <a href="/usuario/trabalheconosco" class="neon-text"
        >Trabalhe conosco</a
      >
    </li>
    <hr />
    <li><a href="/sobre" class="neon-text">Sobre</a></li>
  </ul>
</nav>
