<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campo Minado Arcade</title>
    <link rel="stylesheet" href="./css/styleJogo.css" />
  </head>
  <body>
    <div class="container-jogo">
      <h1 class="titulo">Campo Minado Arcade</h1>
      <div class="info-jogo">
        <span id="bandeiras">Bandeiras: 10</span>
        <span id="tempo">Tempo: 0s</span>
      </div>
      <div id="grade" class="grade"></div>
      <button id="btn-reiniciar" class="btn-reiniciar">Reiniciar</button>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
